@import "tailwindcss";

body {
  -webkit-font-smoothing: antialiased;
}

@theme {
  --grid-columns-app: minmax(18rem, 20rem) 1fr;
  --grid-columns-profile: max-content 1fr max-content;
  --grid-columns-form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr)
    minmax(0, 15rem);

  --border-width-6: 6px;

  --color-violet-25: #fcfaff;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
}

@utility grid-columns-app {
  grid-template-columns: var(--grid-columns-app);
}

@utility grid-columns-profile {
  grid-template-columns: var(--grid-columns-profile);
}

@utility grid-columns-form {
  grid-template-columns: var(--grid-columns-form);
}

@utility border-6 {
  border-width: var(--border-width-6);
}

@utility bg-violet-25 {
  background-color: var(--color-violet-25);
}

@utility bg-error-25 {
  background-color: var(--color-error-25);
}

@utility bg-error-50 {
  background-color: var(--color-error-50);
}

@utility text-error-500 {
  color: var(--color-error-500);
}

@utility border-error-500 {
  border-color: var(--color-error-500);
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility animate-slide-down {
  animation: slideDownAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

@utility animate-slide-up {
  animation: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
}
