.header {
  display: flex;
  padding: 1.25rem 0;
  background: #5555;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header img {
  height: 2rem;
}

.h1 {
  font-weight: bold;
  font-size: 2rem;
  color: #e1e1e6;
}
